#homepage {
  margin-top: 20rem;
  opacity: 0.5;
}

.vidcontainer {
  position: relative;
}

.vidcontainer video {
  position: relative;
  z-index: 0;
}

.credit {
  grid-area: credit;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '. . . .'
    'form form form form'
    'credit . . .';
}

#login-homepage {
  grid-area: form;
}
