/* #root {
  margin: 0;
} */

.homepage {
  margin-top: 0;
  z-index: 2;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50vh;
  grid-template-areas:
    '. . . .'
    'form form form form'
    'credit . . .';
}
.vidcontainer {
  position: fixed;
  height: auto;
  width: 100vw;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.vidcontainer video {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.credit {
  display: flex;
  align-items: flex-end;
  grid-area: credit;
  z-index: 3;
}

#login-homepage {
  justify-self: center;
  align-self: center;
  width: 50%;
  grid-area: form;
  z-index: 3;
  background-color: rgba(34, 36, 38, 0.15);
}
