.homepage {
  margin-top: -7rem;
  z-index: 2;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 33.3vh;
  grid-template-areas:
    '. . . .'
    'form form form form'
    'credit . . .';
}

label {
  color: whitesmoke !important;
  margin-bottom: 1rem !important;
  margin-top: 1.5rem !important;
  display: block;
  margin: 0 0 0.28571429rem 0;
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
}

#login-form button {
  margin-top: 1.5rem;
}

#signup-form button {
  margin-top: 1.5rem;
}

#signup-btn {
  margin-top: 1.5rem;
}
#login-btn {
  margin-top: 1.5rem;
}

#signup-form select {
  margin: auto;
  width: 40%;
}

#login-form input {
  color: whitesmoke !important;
  border: 0 !important;
  outline: 0 !important;
  border-bottom: 1px solid white !important;
  padding-bottom: 0.5rem !important;
}

#login-form input::placeholder {
  color: white !important;
}
#signup-form input {
  color: whitesmoke !important;
  border: 0 !important;
  outline: 0 !important;
  border-bottom: 1px solid white !important;
  padding-bottom: 0.5rem !important;
}

#signup-form select {
  background-color: transparent !important;
  border: 2 !important;
  border-color: whitesmoke;
  color: white;
}

#signup-form input::placeholder {
  color: white !important;
}

.vidcontainer {
  position: fixed;
  height: auto;
  width: 100vw;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.vidcontainer video {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.credit {
  display: flex;
  align-items: flex-end;
  grid-area: credit;
  z-index: 3;
}

.credit p {
  font-size: 12px;
}

#login-homepage {
  justify-self: center;
  align-self: center;
  width: 35%;
  grid-area: form;
  z-index: 3;
  background-color: rgba(34, 36, 38, 0.15);
}
