#modal-button {
  margin: 2em;
  margin-top: 10em;
}

#new-memory-form label {
  color: #814374;
  margin-bottom: 1rem !important;
  margin-top: 1.5rem !important;
  display: block;
  margin: 0 0 0.28571429rem 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: none;
}

/* Removes required asterisk */
#new-memory-form label::after {
  display: none;
}

#new-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#modal-header {
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 24px;
  color: #814374;
}

p.timeline-letter {
  font-family: 'Caveat', cursive;
  /* font-weight: 500; */
  /* margin-bottom: 2rem; */
  font-size: 10px;
  /* background-color: white; */
  /* transform: rotate(-4.5deg); */
  /* width: 380px;
  margin-left: 2.5rem;
  padding-top: 8rem; */
  color: rgba(0, 0, 0, 0.781);
  line-height: 2rem;
  text-align: left;
}
