#memoryCardContainer {
  margin: 2em;
  margin-top: 2em;
}

div.ui.rasied.card {
  border-radius: 5em;
}

.memory-card {
  position: relative;
  background: rgba(253, 183, 19, 0.58);
  border-radius: 1em !important;
  padding: 1em;

  /* How to fit div inside parent: https://stackoverflow.com/questions/1098219/how-to-make-child-divs-always-fit-inside-parent-div */
  height: 100%;
  overflow: auto;
}

.memory-card h2 {
  color: #be1056;
  font-family: 'Handlee', cursive;
  font-size: 2rem;
}

.memory-card p {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Handlee', cursive;
  margin: 0;
  margin-bottom: 1rem;
}

p.memory-card-date {
  padding: 0.8em 0;
  padding-top: 0;
  opacity: 0.7;
  font-family: 'Unkempt', cursive;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  margin: 0;
}

.letter-container p.memory-card-letter {
  font-family: 'Caveat', cursive;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-top: 0;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.781);
  line-height: 2rem;
  text-align: left;
}

/* div.stick-to-bottom {
  position: absolute;
  bottom: 0;
} */
