#sort-and-filter {
  margin-left: 22rem;
  margin-right: 22rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 8px;
  background-color: #00b5ad4f;
  font-size: 22px;
  font-weight: bold;
  color: rgb(138, 138, 138);
  padding: 1.5rem;
  font-family: 'Handlee', cursive;
}

#sort-and-filter div[role='alert'] {
  text-decoration: underline;
  color: #814374;
}

#sort-and-filter span.text {
  font-size: 1.3rem;
}
