#sort-and-filter {
  margin-left: 14rem;
  margin-right: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 8px;
  background-color: #00b5ad4f;
  font-size: 20px;
  color: grey;
  padding: 1.5rem;
}

#sort-and-filter div[role='alert'] {
  text-decoration: underline;
}
